body{
    background-color: gold;
    text-align: center;
}
.caja{
    width: 50%;
    height: 100%;
    margin-inline: 5px;
    background-color: aqua;
   
   
}
.caja:hover{
    background-color: blueviolet;
}
.container{
    
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 10px;
    
}

#balcarce{
    background-image: url(PostreBalcarce.jpg);
    background-size: contain;
}